% Description: Path to the folder where the emails are stored
./Email_Directory/
% Set the default browser, for options see https://docs.python.org/3/library/webbrowser.html
firefox
% Set to False if emails should be opened in background, True if not
False
% Set to False if labeled csv should be deleted, True if not
True
